*
{
	font-family: "PT Sans", "Helvetica";
}

body
{
	background-color: #fff;
}

.home-wrapper
{
	margin: 2px 10px;
	padding: 10px;
}

.home-wrapper .title
{
	font-weight: bold;
	font-style: italic;
	font-size: 42px;

	margin-bottom: 10px;

	color: #23CF5F;
}

.str
{
	font-weight: bold;
}

.panel-heading
{
	color: #fff;
	background-color: #23CF5F;
}

.panel, .instructions
{
	box-shadow: 2px 3px 20px 0px rgba(0,0,0,0.75);
}

.dl-horizontal dt 
{
    white-space: normal;
    width: 200px; 
}