<div class="home-wrapper">

	<div class="title">Spotify Voice Command Player</div>
	
	<div class="instructions">
		
		<ul class="list-group">
		  <li class="list-group-item"><span class="str">1</span>. Click the <span class="str">mic</span> icon</li>
		  <li class="list-group-item"><span class="str">2</span>. Say one of the <span class="str">commands</span> listed below</li>
		</ul>

	</div>

	<div class="panel commands-panel">

		<div class="panel-heading">Available Commands</div>

		<div class="panel-body">

			<dl class="dl-horizontal">

				<dt class="col-md-6 command">Play &lt;song&gt;</dt>
				<dd class="col-md-6 command-description">Search Spotify for the given song and then play it.</dd>

				<dt class="col-md-6 command">Play &lt;song&gt; by &lt;artist&gt;</dt>
				<dd class="col-md-6 command-description">Search Spotify for the given song by the given artist and then play it.</dd>

				<dt class="col-md-6 command">Play some &lt;genre&gt;</dt>
				<dd class="col-md-6 command-description">Search Spotify for a song of the given genre and then play it.</dd>

				<dt class="col-md-6 command">Play a song by &lt;artist&gt;</dt>
				<dd class="col-md-6 command-description">Search Spotify for a song by the given artist and then play it.</dd>

				<dt class="col-md-6 command">Play something like &lt;artist&gt;</dt>
				<dd class="col-md-6 command-description">Search Spotify for a song of an artist that is similar to the given artist and then play it.</dd>

				<dt class="col-md-6 command">Stop</dt>
				<dd class="col-md-6 command-description">Pause the current song.</dd>

				<dt class="col-md-6 command">Resume</dt>
				<dd class="col-md-6 command-description">Resume the current song.</dd>

			</dl>
			
		</div>

	</div>

	<div class="panel panel-heading">Similar Songs</div>

	<div ng-repeat="song in all_songs">
		<div class="similiar-song">
			<div class="similar-song-name">{{song.name}}</div>
			<!--div class="similar-song-artist">{{song.artist}}</div>
			<div class="similar-song-album">{{song.album}}</div>
			<div class="similar-song-duration">{{song.duration}}</div-->
		</div>
		
	</div>

	<div ng-if="show_music_player" class="player">
		
		<img ng-src="{{song_info[0].album_img}}" class="song-album-img" width="200px" height="200px" />

		<div class="song-info">
			
			<div class="song-name" ng-bind="all_songs[0].name">Song: </div>
			<div class="song-artist" ng-bind="all_songs[0].artist">Artist: </div>
			<div class="song-album" ng-bind="all_songs[0].album_name">Album: </div>

		</div>

	</div>

</div>